{% extends 'baseDB.html' %} {% block title %}Attendance Dashboard{% endblock %}
{% block content %} {{ super() }}
<!-- <h1>Welcome to the Dashboard</h1> -->
<div>
  <!-- Replace 'EMBED_URL' with the actual embed URL of your Power BI dashboard -->
  <iframe
    title="adv"
    width="1200"
    height="700"
    src="https://app.powerbi.com/view?r=eyJrIjoiZDIwODFlYTUtMWI5NS00Mzk3LWFhZWMtOWNkMjAxNGVhMmE0IiwidCI6ImMxYTU3ZTBhLWFkYmYtNGNlMS05ZTMzLTBiMzIwZmEzODcyZiJ9"
    frameborder="0"
    allowfullscreen="true"
  ></iframe>
</div>
{% endblock %}
