<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/dbStyles.css" />
    {% block additional_css %}{% endblock %}
    <title>{% block title %} WFMS {% endblock %}</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="{{ url_for('dashboard') }}" class="logo">
        <img src="/static/assets/pil-logo1.png" alt="Logo" style="width: 50px; height: auto; margin-left: 9px; margin-right: 9px;" />
        <!-- <i class="bx bx-code-alt"></i> -->
        <div class="logo-name"><span>Dash</span>Board</div>
      </a>
      <ul class="side-menu">
        <li class="sub-title">
          <a href="#rohitgupta"
            ><i class="bx bxs-dashboard"></i>Dashboards
            <!-- <i class="bx bxs-chevrons-down">
              </i> -->
          </a>
        </li>
        <ul class="sub-menu">
          <li>
            <a href="{{ url_for('attendanceWhite') }}" class="sub-item"
              ><i class='bx bxs-dashboard bx-tada bx-flip-vertical' ></i></i>ITSM</a
            >
          </li>
          <li>
            <a href="{{ url_for('attendance') }}" class="sub-item"
              ><i class='bx bxs-dashboard bx-tada bx-flip-vertical' ></i></i>RPA</a
            >
          </li>
          <li>
            <a href="{{ url_for('salesDashboard') }}" class="sub-item"
              ><i class='bx bxs-dashboard bx-tada bx-flip-vertical' ></i></i>PR</a
            >
          </li>
          <li>
            <a href="{{ url_for('wfmsDashboard') }}" class="sub-item"
              ><i class='bx bxs-dashboard bx-tada bx-flip-vertical' ></i></i>WFMS</a
            >
          </li>
          <li>
            <a href="#" class="sub-item"
              ><i class='bx bxs-dashboard bx-tada bx-flip-vertical' ></i></i>Dashboard</a
            >
          </li>
        </ul>
        <li class="sub-title">
          <a href="#" class="demo"><i class="bx bx-store-alt"></i>Reports</a>
        </li>
        <ul class="sub-menu">
          <li>
            <a href="{{ url_for('attendanceReport') }}" class="sub-item"
              ><i class="bx bxs-report"></i>Attendance</a
            >
          </li>
          <li>
            <a href="{{ url_for('detailsReport') }}" class="sub-item"
              ><i class="bx bxs-report"></i>Details Report</a
            >
          </li>
          <li>
            <a href="{{ url_for('ordersReport') }}" class="sub-item"
              ><i class="bx bxs-report"></i>Orders Report</a
            >
          </li>
          <li>
            <a href="#" class="sub-item"
              ><i class="bx bxs-report"></i>Report 3</a
            >
          </li>
        </ul>
        <li>
          <a href="#"><i class="bx bx-store-alt"></i>Shop1</a>
        </li>
        <li class="active">
          <a href="#"><i class="bx bx-analyse"></i>Analytics</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-message-square-dots"></i>Tickets</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-group"></i>Users</a>
        </li>
        <li>
          <a href="#settings"><i class="bx bx-cog"></i>Settings</a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="{{ url_for('logout') }}" class="logout">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
        <a href="#" class="notif">
          <i class="bx bx-bell"></i>
          <span class="count">12</span>
        </a>
        <div class="profile">
          <button onclick="toggleDropdown()" class="dropbtn">
            <img src="/static/assets/logo.png" alt="Profile Picture" class="profile-pic"> 
          </button>
          <div id="myDropdown" class="dropdown-content">
            <img src="/static/assets/logo.png" alt="Profile Picture" class="profile-photo"> 
            <a href="#">{{ current_user.username }} - {{ current_user.role }}</a>
            <a href="#">Your Servers</a>
            <a href="#">Account Settings</a>
            <div class="dropdown-divider"></div>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>        
      </nav>
      <!-- End of Navbar -->
      <main>
        <div class="container">{% block content %}{% endblock %}</div>
      </main>
    </div>

    <script src="/static/js/dashboardJs.js"></script>
  </body>
</html>
